* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}
.wrapper {
    height: 100vh;
    overflow: hidden;
    background: url(img/23.jpg);
    background-size: cover;
    font-family: 'Play', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    height: 100%;
    padding: 5% 0;
    background: rgba(182, 159, 159, 0.8);
    color: #661616;
}

.title {
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0;
}

.subtitle {
    font-size: calc(2vh + 1rem);
    font-weight: bold;
    margin: 0;
    animation: subtitle 1s alternate infinite;
    -webkit-animation: subtitle 1s alternate infinite;
}

@keyframes subtitle {
    0% {
        color: #661616;
    }

    100% {
        color: #0c3808;
    }
}

.block {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.img__pic-top {
    width: 600px;
  height: 300px;
    object-fit: contain;
    object-position: center;
}


.img__pic-bottom {
  width: 300px;
  height: 200px;
    object-fit: contain;
    object-position: center;
}
/*
.img_air {
    animation: air 5s infinite alternate;
    -webkit-animation: air 5s infinite alternate;
}


.img_socks {
    animation: soldat 2s infinite alternate 1s;
    -webkit-animation: soldat 2s infinite alternate 1s;

